<div class="section white">
  <div class="row container">
    <h2 class="header">트렌드</h2>
    <p class="grey-text text-darken-3 lighten-3">오 좀 놀줄 아는 친구인가?</p>
    <p class="grey-text text-darken-3 lighten-3">오 옷좀 입을 줄 아는 친구인가?</p>
    <p class="grey-text text-darken-3 lighten-3">오 트렌드좀 아는 친구인가?</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/fashion1.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">코디 질문</h2>
    <p class="grey-text text-darken-3 lighten-3">옷 입는거 쉽지않죠? 당신에게 딱 어울리는 스타일을 물어보고 추천받으세요. 옷을 잘 아는 분이라면 남들을 도와주고 자신의 패션을 공유해보세요.</p>
    <a href="<%= posts_path %>" class="btn purple lighten-1">질문게시판</a>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/fashion2.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">베스트 코디</h2>
    <p class="grey-text text-darken-3 lighten-3">요즘 제일 핫한 코디가 뭔지 궁금하십니까? 이곳으로 오시면 요즘 패션 트렌드에 대해 감을 잡을 수 있고, 자신의 패션능력도 평가받으실 수 있습니다.</p>
    <a href="#" class= "waves-effect waves-light btn purple lighten-1">베스트게시판</a>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/fashion3.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">개인 코디 섭외</h2>
    <p class="grey-text text-darken-3 lighten-3">도저히 질문만으로는 옷을 잘 못 입으시겠다고요? 그럼 개인 코디를 섭외해 보세요. 적절한 가격으로 전문가와 상담하고 Trend를 아는 패션 리더가 되어보아요.</p>
    <a href="#" class= "waves-effect waves-light btn purple lighten-1">코디섭외</a>
  </div>
</div>

<footer class="page-footer purple lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Trend service</h5>
        <p class="grey-text text-lighten-4">트렌드 서비스에 오신것을 환영합니다.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">팔로우 각</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="//www.facebook.com/profile.php?id=100004005457548">갓성원 페이스북<img src="/facebook.png" class="icon-size"></a></li>
          <li><a class="grey-text text-lighten-3" href="//www.instagram.com/castle_won2095/?hl=ko">갓성원 인스타<img src="/instagram.png" class="icon-size"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Copyright Godseongwon
    <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>

<script>
$(document).ready(function(){
  $('.parallax').parallax();
});
</script>
